<!--[main]-->
<div style="padding-top: 10px">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            {$indicator1}
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            {$indicator2}
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            {$indicator3}
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            {$indicator4}
        </div>
    </div>
    <!--<div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            {$chart1}
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            {$chart2}
        </div>
    </div>-->
</div>
<!--[/main]-->