
    <!-- Third part libraries required by Adianti Framework -->
    <script src="lib/jquery/js/jquery.min.js?afver=702" type="text/javascript"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js?afver=702"></script>
    <script src="lib/bootstrap/js/bootstrap-plugins.min.js?afver=702" type="text/javascript"></script>
    <script src="lib/bootstrap/js/locales/bootstrap-datepicker.pt.js?afver=702" type="text/javascript"></script>
    <script src="lib/bootstrap/js/locales/bootstrap-datetimepicker.pt.js?afver=702" type="text/javascript"></script>
    <script src="lib/bootstrap/js/lang/summernote-pt-BR.min.js?afver=702" type="text/javascript"></script>
    <script src="lib/jquery/js/jquery-ui.min.js?afver=702" type="text/javascript"></script>
    <script src="lib/jquery/js/jquery-plugins.min.js?afver=702" type="text/javascript"></script>
    <script src="lib/jquery/js/select2_locale_pt.js?afver=702" type="text/javascript"></script>
    <script src="lib/independent/js/independent-plugins.min.js?afver=702" type="text/javascript"></script>
    <script src="lib/independent/js/fullcalendar-pt.js?afver=702" type="text/javascript"></script>
    
    <!-- Adianti Framework core and components -->
    <script src="lib/adianti/include/adianti.min.js?afver=702" type="text/javascript"></script>
    <script src="lib/adianti/include/components.min.js?afver=702" type="text/javascript"></script>
    
    <!-- Application custom Javascript (Optional) -->
    <script src="app/lib/include/builder/builder.js?appver=705" type="text/javascript"></script>
    <script src="app/lib/include/application.js?appver=702" type="text/javascript"></script>
    
    <!-- Third part CSS required by Adianti Framework -->
    <link href="lib/jquery/css/jquery-ui.min.css?afver=702" rel="stylesheet" type="text/css" media="screen" />
    <link href="lib/jquery/css/jquery-plugins.min.css?afver=702" rel="stylesheet" type="text/css" media="screen" />
    <link href="lib/bootstrap/css/bootstrap.min.css?afver=702" rel="stylesheet" type="text/css" media="screen" />
    <link href="lib/bootstrap/css/boostrap-plugins.min.css?afver=702" rel="stylesheet" type="text/css" media="screen" />
    <link href="lib/independent/css/independent-plugins.min.css?afver=702" rel="stylesheet" type="text/css" media="screen" />
    
    <!-- Adianti Framework Components CSS -->
    <link href="lib/adianti/include/adianti.min.css?afver=702" rel="stylesheet" type="text/css" media="screen" />
    <link href="lib/adianti/include/components.min.css?afver=702" rel="stylesheet" type="text/css" media="screen" />
    
    <!-- Application custom CSS -->
    <link href="app/templates/{template}/application.css?appver=702" rel="stylesheet" type="text/css" media="screen">
    <link rel='stylesheet' href='app/lib/widget/tstep.css?appver=702'>
    <link href="app/lib/include/builder/{template}/builder.css?appver=702" rel="stylesheet" type="text/css" media="screen">
    <link href="app/lib/include/tfabbutton/tfabbutton.css?afver=20190422" rel="stylesheet" type="text/css" media="screen" />
    
    <link rel='stylesheet' href='app/lib/include/c3/c3.min.css'>


    <script src='app/lib/include/c3/d3.min.js' type='text/javascript'></script>
    <script src='app/lib/include/c3/c3.min.js' type='text/javascript'></script>

